version: '3'
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27027:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: hcmute
      MONGO_INITDB_ROOT_PASSWORD: hcmute
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    depends_on:
      - mongodb
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_MONGODB_ADMINUSERNAME: hcmute
      ME_CONFIG_MONGODB_ADMINPASSWORD: hcmute